{
	"sender_email" : "", 		//Email from which emails will be sent (must be gmail)
	"clientID": "",             //Client ID for oAuth
	"clientSecret": "",	        //Client secret for oAuth
	"refreshToken": "",         //Refresh token for oAuth
	"accessToken": "",          //Inital access token for oAuth, can also be empty because new one is generated upon registration
	"interval" : 15, 			//Interval on which the script executes (between 15 and 30 minutes is optimal) 
	"receiver_email" : [""],	//List of email addresses on which to send email 
	"url_bolha" : [""],			//list of URLs of selection on bolha.com				
	"url_nepremicnine" : [""]	//list of URLs of selection on nepremicnine.net				
}
